.order {
  background-image: url("../assets/sfondoHome.jpg");

  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }

    h3 {
      color: #555;
      font-size: 20px;
      margin-top: 20px;
    }

    p {
      color: #666;
      font-size: 16px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h4 {
      color: black;
      font-size: 18px;
      margin-top: 20px;
      text-decoration: underline; 
      background-color: #847979; 
    }
  }
}
